## Set up notebook

In [2]:
# import all libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\erika\AppData\Local\Temp\ipykernel_1888\520829043.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

## View csv for all animals between 2013 to present

In [ ]:
# TODO: check head, tail, info, describe, shape, columns, dtypes

## Clean and reduce the dataframe
* filter the data for cats from January 2023 to December 2023
* export as a seperate csv

In [ ]:
# TODO: copy/paste cleaning code

## View csv for 2023 cats

In [28]:
# read in the csv file
df = pd.read_csv('2023_cats.csv')

In [24]:
df.shape

(5525, 12)

In [4]:
# check the first few rows
df.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A869944,*Dreidel,01/02/2023 11:41:00 AM,Jan 2023,10/25/2022,Adoption,Foster,Cat,Spayed Female,2 months,Domestic Shorthair,White/Cream
1,A870224,*Fir,01/02/2023 11:47:00 AM,Jan 2023,10/11/2022,Adoption,Foster,Cat,Spayed Female,2 months,Domestic Shorthair,Black
2,A871756,NaN,01/03/2023 09:35:00 AM,Jan 2023,06/29/2021,Transfer,Snr,Cat,Intact Female,1 year,Domestic Shorthair,Brown Tabby/White
3,A871738,NaN,01/03/2023 09:35:00 AM,Jan 2023,12/29/2020,Transfer,Snr,Cat,Unknown,2 years,Domestic Shorthair,Brown Tabby
4,A866334,Altair,01/03/2023 03:22:00 PM,Jan 2023,11/28/2021,Adoption,NaN,Cat,Neutered Male,1 year,Domestic Shorthair,Blue/White

In [5]:
df['Outcome Type'].value_counts()

Outcome Type
Adoption           3436
Transfer           1728
Return to Owner     140
Euthanasia          111
Died                 53
Rto-Adopt            24
Disposal             22
Missing               6
Relocate              1
Name: count, dtype: int64

In [6]:
df['Sex upon Outcome'].value_counts()

Sex upon Outcome
Neutered Male    1839
Spayed Female    1830
Intact Female     806
Intact Male       768
Unknown           282
Name: count, dtype: int64

In [7]:
df['Animal Type'].value_counts()

Animal Type
Cat    5525
Name: count, dtype: int64

In [8]:
df['MonthYear'].value_counts()

MonthYear
Aug 2023    662
Jun 2023    629
Jul 2023    603
Sep 2023    546
May 2023    530
Dec 2023    434
Oct 2023    427
Nov 2023    412
Apr 2023    410
Jan 2023    355
Mar 2023    283
Feb 2023    234
Name: count, dtype: int64

In [27]:
# snr refers to Shelter-Neuter-Return (SNR) program
df['Outcome Subtype'].value_counts()

Outcome Subtype
Partner        1357
Foster         1065
Snr             371
Suffering       104
In Kennel        31
In Foster        17
Emergency         6
At Vet            4
Enroute           3
Rabies Risk       3
Offsite           2
Medical           1
Field             1
In Surgery        1
Name: count, dtype: int64

In [26]:
nan_values = df.isna().sum()
print(nan_values)

Animal ID              0
Name                1745
DateTime               0
MonthYear              0
Date of Birth          0
Outcome Type           4
Outcome Subtype     2559
Animal Type            0
Sex upon Outcome       0
Age upon Outcome       0
Breed                  0
Color                  0
dtype: int64