## Set up notebook

In [34]:
# import all libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## View csv for all animals between 2013 to present

In [35]:
# load the csv file
df_all = pd.read_csv('all_animal.csv')

In [36]:
#check head
df_all.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,05/08/2019 06:20:00 PM,May 2019,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,Jul 2018,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A821648,NaN,08/16/2020 11:38:00 AM,Aug 2020,08/16/2019,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray
3,A720371,Moose,02/13/2016 05:59:00 PM,Feb 2016,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
4,A674754,NaN,03/18/2014 11:47:00 AM,Mar 2014,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby

In [37]:
#check tail
df_all.tail()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
160927,A900985,NaN,03/28/2024 02:21:00 PM,Mar 2024,03/26/2024,Transfer,Partner,Dog,Unknown,2 days,Border Collie Mix,Black/White
160928,A900987,NaN,03/28/2024 02:21:00 PM,Mar 2024,03/26/2024,Transfer,Partner,Dog,Unknown,2 days,Border Collie Mix,Black/White
160929,A900906,NaN,03/28/2024 02:20:00 PM,Mar 2024,09/26/2021,Transfer,Partner,Dog,Intact Female,2 years,Border Collie Mix,Black/White
160930,A899577,*Tortellini,03/28/2024 02:15:00 PM,Mar 2024,03/06/2023,Adoption,NaN,Cat,Spayed Female,1 year,Domestic Shorthair,Tortie
160931,A900990,NaN,03/28/2024 02:22:00 PM,Mar 2024,03/26/2024,Transfer,Partner,Dog,Unknown,2 days,Border Collie Mix,White/Brown

In [38]:
#check shape
df_all.shape

(160932, 12)

In [39]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160932 entries, 0 to 160931
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         160932 non-null  object
 1   Name              114834 non-null  object
 2   DateTime          160932 non-null  object
 3   MonthYear         160932 non-null  object
 4   Date of Birth     160932 non-null  object
 5   Outcome Type      160897 non-null  object
 6   Outcome Subtype   73829 non-null   object
 7   Animal Type       160932 non-null  object
 8   Sex upon Outcome  160930 non-null  object
 9   Age upon Outcome  160927 non-null  object
 10  Breed             160932 non-null  object
 11  Color             160932 non-null  object
dtypes: object(12)
memory usage: 14.7+ MB

In [40]:
df_all.describe()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
count,160932,114834,160932,160932,160932,160897,73829,160932,160930,160927,160932,160932
unique,144434,27992,134290,126,8271,11,26,5,5,55,2917,642
top,A721033,Luna,04/18/2016 12:00:00 AM,Jun 2019,05/01/2016,Adoption,Partner,Dog,Neutered Male,1 year,Domestic Shorthair Mix,Black/White
freq,33,701,39,2244,121,76650,37940,88866,56436,26975,33726,16764

## Clean and reduce the dataframe
* filter the data for cats from January 2023 to December 2023
* export as a seperate csv

In [41]:
# TODO: copy/paste cleaning code

## View csv for 2023 cats

In [42]:
# read in the cat csv file
df = pd.read_csv('2023_cats.csv')

In [43]:
# check the head
df.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A869944,*Dreidel,01/02/2023 11:41:00 AM,Jan 2023,10/25/2022,Adoption,Foster,Cat,Spayed Female,2 months,Domestic Shorthair,White/Cream
1,A870224,*Fir,01/02/2023 11:47:00 AM,Jan 2023,10/11/2022,Adoption,Foster,Cat,Spayed Female,2 months,Domestic Shorthair,Black
2,A871756,NaN,01/03/2023 09:35:00 AM,Jan 2023,06/29/2021,Transfer,Snr,Cat,Intact Female,1 year,Domestic Shorthair,Brown Tabby/White
3,A871738,NaN,01/03/2023 09:35:00 AM,Jan 2023,12/29/2020,Transfer,Snr,Cat,Unknown,2 years,Domestic Shorthair,Brown Tabby
4,A866334,Altair,01/03/2023 03:22:00 PM,Jan 2023,11/28/2021,Adoption,NaN,Cat,Neutered Male,1 year,Domestic Shorthair,Blue/White

In [44]:
# check the tail
df.tail()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
5520,A891571,*Jojo,12/30/2023 01:48:00 PM,Dec 2023,10/24/2022,Adoption,NaN,Cat,Spayed Female,1 year,Domestic Shorthair,Black/White
5521,A880877,*Pear,12/30/2023 02:27:00 PM,Dec 2023,05/15/2021,Adoption,NaN,Cat,Spayed Female,2 years,Domestic Medium Hair,Black
5522,A873250,*Flan,12/30/2023 02:27:00 PM,Dec 2023,01/22/2021,Adoption,NaN,Cat,Neutered Male,2 years,Domestic Shorthair,Orange Tabby
5523,A894880,*Hickory,12/30/2023 04:09:00 PM,Dec 2023,10/17/2023,Adoption,NaN,Cat,Intact Female,2 months,Domestic Shorthair,Tortie
5524,A893692,Rocky,12/30/2023 05:55:00 PM,Dec 2023,01/27/2010,Adoption,NaN,Cat,Neutered Male,13 years,Domestic Longhair,Blue

In [45]:
# check the shape
df.shape

(5525, 12)

In [46]:
# check the info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5525 entries, 0 to 5524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Animal ID         5525 non-null   object
 1   Name              3780 non-null   object
 2   DateTime          5525 non-null   object
 3   MonthYear         5525 non-null   object
 4   Date of Birth     5525 non-null   object
 5   Outcome Type      5521 non-null   object
 6   Outcome Subtype   2966 non-null   object
 7   Animal Type       5525 non-null   object
 8   Sex upon Outcome  5525 non-null   object
 9   Age upon Outcome  5525 non-null   object
 10  Breed             5525 non-null   object
 11  Color             5525 non-null   object
dtypes: object(12)
memory usage: 518.1+ KB

In [47]:
# check the describe
df.describe()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
count,5525,3780,5525,5525,5525,5521,2966,5525,5525,5525,5525,5525
unique,5406,2922,4557,12,1319,9,14,1,5,42,34,131
top,A875954,Luna,07/20/2023 02:13:00 PM,Aug 2023,03/28/2023,Adoption,Partner,Cat,Neutered Male,2 months,Domestic Shorthair,Brown Tabby
freq,3,19,13,662,45,3436,1357,5525,1839,1275,4400,880

In [48]:
# rename the columns
df.columns = ['id', 'name', 'date', 'month_year', 'dob', 'outcome', 'suboutcome', 'animal', 'sex', 'age', 'breed', 'color']
df.head()

,id,name,date,month_year,dob,outcome,suboutcome,animal,sex,age,breed,color
0,A869944,*Dreidel,01/02/2023 11:41:00 AM,Jan 2023,10/25/2022,Adoption,Foster,Cat,Spayed Female,2 months,Domestic Shorthair,White/Cream
1,A870224,*Fir,01/02/2023 11:47:00 AM,Jan 2023,10/11/2022,Adoption,Foster,Cat,Spayed Female,2 months,Domestic Shorthair,Black
2,A871756,NaN,01/03/2023 09:35:00 AM,Jan 2023,06/29/2021,Transfer,Snr,Cat,Intact Female,1 year,Domestic Shorthair,Brown Tabby/White
3,A871738,NaN,01/03/2023 09:35:00 AM,Jan 2023,12/29/2020,Transfer,Snr,Cat,Unknown,2 years,Domestic Shorthair,Brown Tabby
4,A866334,Altair,01/03/2023 03:22:00 PM,Jan 2023,11/28/2021,Adoption,NaN,Cat,Neutered Male,1 year,Domestic Shorthair,Blue/White

## Clean 2023 Cat data further

In [49]:
# TODO: determine what kind of data is useful
df.shape

(5525, 12)

In [50]:
# remove rows where sex upon outcome is unknown
df = df[df['sex'] != 'Unknown']

In [51]:
df['outcome'].value_counts()

outcome
Adoption           3436
Transfer           1486
Return to Owner     136
Euthanasia           93
Died                 39
Rto-Adopt            24
Disposal             19
Missing               5
Relocate              1
Name: count, dtype: int64

In [52]:
df['sex'].value_counts()

sex
Neutered Male    1839
Spayed Female    1830
Intact Female     806
Intact Male       768
Name: count, dtype: int64

In [53]:
df['animal'].value_counts()

animal
Cat    5243
Name: count, dtype: int64

In [54]:
df['month_year'].value_counts()

month_year
Aug 2023    631
Jun 2023    595
Jul 2023    592
Sep 2023    530
May 2023    503
Oct 2023    413
Dec 2023    411
Nov 2023    379
Apr 2023    369
Jan 2023    337
Mar 2023    259
Feb 2023    224
Name: count, dtype: int64

In [55]:
# snr refers to Shelter-Neuter-Return (SNR) program
df['suboutcome'].value_counts()

suboutcome
Partner        1247
Foster         1065
Snr             239
Suffering        88
In Kennel        22
In Foster        14
Emergency         6
Rabies Risk       3
Offsite           2
Medical           1
Field             1
At Vet            1
In Surgery        1
Enroute           1
Name: count, dtype: int64

In [56]:
df['breed'].value_counts()

breed
Domestic Shorthair                     4157
Domestic Shorthair Mix                  446
Domestic Medium Hair                    299
Domestic Longhair                       127
Siamese                                  46
Siamese Mix                              39
Domestic Medium Hair Mix                 38
Domestic Longhair Mix                    18
Snowshoe Mix                             12
Russian Blue                             11
Snowshoe                                 11
American Shorthair                        5
Persian                                   3
Ragdoll                                   3
Manx                                      3
Russian Blue Mix                          3
Siamese/Domestic Shorthair                2
Manx Mix                                  2
Abyssinian                                2
Ragdoll Mix                               2
Domestic Longhair/Domestic Longhair       2
Maine Coon Mix                            1
Burmese Mix                               1
Himalayan                                 1
Burmese                                   1
Domestic Longhair/Maine Coon              1
American Shorthair Mix                    1
Munchkin Shorthair Mix                    1
Siamese/Domestic Longhair                 1
Bengal                                    1
Devon Rex                                 1
Bengal Mix                                1
Domestic Shorthair/Oriental Sh            1
Name: count, dtype: int64

In [57]:
df['color'].value_counts()

color
Brown Tabby           834
Black                 637
Black/White           474
Brown Tabby/White     399
Orange Tabby          380
                     ...
Calico/Brown Tabby      1
Torbie/Blue Tabby       1
Brown Tabby/Orange      1
Torbie/Brown            1
Black Tabby/Brown       1
Name: count, Length: 126, dtype: int64

In [58]:
nan_values = df.isna().sum()
print(nan_values)

id               0
name          1512
date             0
month_year       0
dob              0
outcome          4
suboutcome    2552
animal           0
sex              0
age              0
breed            0
color            0
dtype: int64

## Prepare data for analysis

In [59]:
#Drop irrelevant/redundant columns
df.drop(labels=["id", "date", "animal", "dob"], axis=1, inplace=True)

In [60]:
#Turn years/month/week age of cat to week only
def toWeeks(age):
    value, unit = age.split()
    value = int(value)
    if unit == 'year' or unit == 'years':
        return value * 52
    elif unit == 'month' or unit == 'months':
        return value * 4
    elif unit == 'week' or unit == 'weeks':
        return value
    else:
        return None

In [61]:
#Encode string categorical data to numerical values for classification model
outcomes = {category: i for i, category in enumerate(df["outcome"].unique(), 1)}
sex = {category: i for i, category in enumerate(df["sex"].unique(), 1)}
#Change age to age in weeks
df["age"] = df["age"].apply(toWeeks)
breeds = {category: i for i, category in enumerate(df["breed"].unique(), 1)}
#Due to abundance of breeds, any cat with a mix of breeds will be labeled "Mixed"
df['color'] = np.where(df['color'].str.contains('/'), 'Mixed', df['color'])
colors={category: i for i, category in enumerate(df["color"].unique(), 1)}
sub={category: i for i, category in enumerate(df["suboutcome"].unique(), 1)}
#Names are irrelevant but perhaps the cat having a name matters(?)
df["name"] = np.where(df["name"].notna(), 1, 0)

df["outcome"].replace(outcomes, inplace=True)
df["sex"].replace(sex, inplace=True)
df["breed"].replace(breeds, inplace=True)
df["color"].replace(colors, inplace=True)
df["suboutcome"].replace(sub, inplace=True)

In [ ]:
df = df.sample(n=2000, random_state=10)